  <div id='notice'>You are authorized as an administrator for this session</div>

  <h2>Click on an element to view/edit/delete</h2>
  <%= link_to 'Service groups', service_groups_path %><br />
  <%= link_to 'Service people', service_people_path %><br />
  <%= link_to 'Programs', programs_path %><br />
  <hr />
  <h2>Configurable data elements</h2>
  <%= link_to 'Program schedule options', repeats_path %><br />
  <%= link_to 'Program formats', styles_path %><br />
  <%= link_to 'Program categories', categories_path %><br />
