<img src="/images/blank-dot.png" onload="$('submit-button').hide();">
<div class="field">
  The service group associated with this program:<br />
  <%= form_tag "/programs/associate", :id => "service-group-list", :method => :post, :remote => true do %>
    <% unless @program.nil? %>
      <input type=hidden name="program_id" value=<%= @program.id %>>
    <% end %>
    <select name="service_group_id" id="service_group_id" onchange="$('submit-button').click();">
      <option value="">Please select a service group</option>
    <% for sg in ServiceGroup.order('name ASC') %>
      <% if !(@program.nil?) && sg.id == @program.service_group_id %>
        <option value="<%= sg.id %>" "selected"><%= sg.name %></option>
      <% else %>
        <option value="<%= sg.id %>"><%= sg.name %></option>
      <% end %>
    <% end %>
    </select>
    <%= submit_tag "Submit Service Group", :id => "submit-button", :class => "hidden-form-button", :name => nil %>
  <% end %>
</div>

<%= form_for(@program) do |f| %>
  <%= render "shared/error_messages", :target => @program %>
  <%= f.hidden_field :service_group_id %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.text_field :end_time %>
  </div>
  <div class="field">
    <%= f.label :repeats %><br />
    <select id="program_repeats" name="program[repeats]">
    <% for repeat in REPEATS %>
      <% if repeat[:id] == @program.repeats %>
        <option value="<%= repeat[:id] %>" selected="selected"><%= repeat[:name] %></option>
      <% else %>
        <option value="<%= repeat[:id] %>"><%= repeat[:name] %></option>
      <% end %>
    <% end %>
    </select>  
  </div>
  <div class="field">
    <%= f.label :range %><br />
    <%= f.date_select :range %>
  </div>
  <div class="field">
    <%= f.label :age_min %><br />
    <%= f.text_field :age_min %>
  </div>
  <div class="field">
    <%= f.label :age_max %><br />
    <%= f.text_field :age_max %>
  </div>
  <div class="field">
    <%= f.label :cost %> (Enter "free", "paid" or an amount")<br />
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br />
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, {:size => 2} %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <label>Categories</label><br /> 
    <% for category in CATEGORIES %>
      <%= check_box_tag "program[category_ids][]", category[:id], @active_categories.include?(category[:id])%>
      <%= category[:name] %><br />
    <% end %>
  </div>
  <div class="field">
    <label>Styles</label><br /> 
    <% for style in STYLES %>
      <%= check_box_tag "program[style_ids][]", style[:id], @active_styles.include?(style[:id])%>
      <%= style[:name] %><br />
    <% end %>
  </div>
  <div id="service-people">
    <div class="field">
      <label>Service people</label><br /> 
      <% for sp in @service_people %>
        <%= check_box_tag "program[service_person_ids][]", sp.id, @active_service_people.include?(sp.id)%>
        <%= sp.first_name %> <%= sp.last_name %><br />
      <% end %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

