$("program_address1").value = "<%= @service_group.address1 %>"
$("program_address2").value = "<%= @service_group.address2 %>"
$("program_city").value = "<%= @service_group.city %>"
$("program_state").value = "<%= @service_group.state %>"
$("program_zip").value = "<%= @service_group.zip %>"
$("service-people").replace("<div class='field'><label>Service people</label><br /><\% for sp in @service_people \%><\% end \%>JBB was down here")
