<% if @change_zip_problem == true %>
  var errorMsg = "The zip code you entered was not recognized, so the zip code being used in your search remains" + "<%= @user_zipcode %><br />"
  $("basic-search").insert ({top: errorMsg})
<% end %>

deleteOverlays();
<% if @need_new_map %>
//change zip code display at top
  var newCenterAddress = "<span id='center_point'> <%= @user_zipcode %></span>";
  $("center_point").replace(newCenterAddress)
//draw new map
  drawNewMap(<%= @user_lat %>,<%= @user_lon %>);
<% end %>


<% unless @nearbyPrograms.nil? %>
  //if zipcode the same no need to redraw map.  Can we check for this?
  //if using same map, need to clear markers then draw new ones
  //if new map then draw new map, then add back markers, change zip code being displayed
  <% for program in @nearbyPrograms %>
    showOnMap(<%= program.lat %>, <%= program.lon %>,"<%= program.name %>");
  <% end %>

<% end %>



$("directionsPanel").insert ({bottom: "next up, dynamically populate this area"})
