
deleteOverlays();
<% if @need_new_map %>
//change zip code display at top
  var newCenterAddress = "<span id='center_point'> <%= @user_zipcode %></span>";
  $("center_point").replace(newCenterAddress)
//draw new map
  drawNewMap(<%= @user_lat %>,<%= @user_lon %>);
<% end %>


<% unless @nearbyPrograms.nil? %>
  //if zipcode the same no need to redraw map.  Can we check for this?
  //if using same map, need to clear markers then draw new ones
  //if new map then draw new map, then add back markers, change zip code being displayed
  <% for program in @nearbyPrograms %>
    <% details = "#{program.formatted_address}" 
    detailsPhone = "#{program.phone}" 
    detailsURL = "#{program.website}" %>
    showOnMap(<%= program.lat %>, <%= program.lon %>,"<%= program.name %>","<%= details %>","<%= detailsPhone %>","<%= detailsURL %>");
  <% end %>

<% end %>


<% if @change_zip_problem == true %>
  var errorMsg = "The address you entered was not recognized, so the address being used in your search remains" + "<%= @user_zipcode %><br />"
  $("directionNotes").insert ({top: errorMsg})
  $("directionNotes").highlight({duration: 10})
  $("directionNotes").fade({duration: 15.0})
<% end %>

<% if !(@notes.empty?) %>
  //$("directionNotes").show()
  $("directionNotes").insert ({top: "<%= @notes %>"})
  $("directionNotes").highlight({duration: 10})
  $("directionNotes").fade({duration: 15.0})
<% end %>
