<script type="text/javascript">
  function doUncheck(go) {
    if (go) {
      var form = $('service-group-list')
      var buttons = form.getInputs('checkbox', 'program[category_ids][]')
      
      for (i=0; i < buttons.length; i++) {
        buttons[i].checked = false;
      }
    }
  }
  
  function checkTypeStatus() {
    var wantAllTypes = document.getElementById('category_all');
    if (wantAllTypes.checked) {
      $('category_list').hide();
    } else {
      $('category_list').show();
    }
  }

</script>

<table><tr>
  <td id="left-column" class="left-column">
    <p>&nbsp;</p>
    <span id="basic-search">Basic program search</span><br />

    <%= form_tag "/visualize/find_programs", :id => "service-group-list", :method => :post do %>
      <p>
      Zip:<input type="text" size="10" name="zip" value="<%= @user_zipcode %>" /><br />
      Age min:<input type="text" size="2" name="age_min" value="8" />
      max:<input type="text" size="2" name="age_max" value="14" /><br />
      Type: <input id="category_all" name="category_all" type="checkbox" value="1" checked="checked" onclick="$('category_list').toggle(); doUncheck(this.checked); return true;"/>Any<br /> 

      <div id="category_list" style="display: none;">
        <% for category in CATEGORIES %>
          <%= check_box_tag "program[category_ids][]", category[:id] %>
          <%= category[:name] %><br />
        <% end %>
      </div>
      Day(s) offered:
      <select id="program_repeats" name="program[repeats]">
        <option value="any" selected="selected">Any day</option>
        <% for repeat in REPEATS %>
          <option value="<%= repeat[:id] %>"><%= repeat[:name] %></option>
        <% end %>
      </select>  
      <br />
      Start time:
      <select id="start_time" name="start_time">
        <option value="any" selected="selected">Any time</option>
        <option value="5">5 AM</option>
        <option value="6">6 AM</option>
        <option value="7">7 AM</option>
        <option value="8">8 AM</option>
        <option value="9">9 AM</option>
        <option value="10">10 AM</option>
        <option value="11">11 AM</option>
        <option value="12">12 pM</option>
        <option value="13">1 PM</option>
        <option value="14">2 PM</option>
        <option value="15">3 PM</option>
        <option value="16">4 PM</option>
        <option value="17">5 PM</option>
        <option value="18">6 PM</option>
        <option value="19">7 PM</option>
        <option value="20">8 PM</option>
        <option value="21">9 PM</option>
      </select>  <br />
      End time:
      <select id="end_time" name="end_time">
        <option value="any" selected="selected">Any time</option>
        <option value="5">5 AM</option>
        <option value="6">6 AM</option>
        <option value="7">7 AM</option>
        <option value="8">8 AM</option>
        <option value="9">9 AM</option>
        <option value="10">10 AM</option>
        <option value="11">11 AM</option>
        <option value="12">12 pM</option>
        <option value="13">1 PM</option>
        <option value="14">2 PM</option>
        <option value="15">3 PM</option>
        <option value="16">4 PM</option>
        <option value="17">5 PM</option>
        <option value="18">6 PM</option>
        <option value="19">7 PM</option>
        <option value="20">8 PM</option>
        <option value="21">9 PM</option>
      </select>  


      <br /><br />
      <%= submit_tag "Find Programs", :id => "submit-button", :class => "button" %>
    <% end %>
    <hr />
    <%= form_tag "/visualize/find_programs_by_ajax", :id => "test-form", :method => :post, :remote => true do %>
      <%= submit_tag "Find Programs by Ajax", :id => "submit-button", :class => "button" %>
    <% end %>
    <hr />
    <hr />
    <a href="/find">Advanced find</a>
    <hr />
    <!-- Toggle Traffic Overlay -->
    <input type="button" value="Toggle Traffic" onClick="toggleTraffic();"/>

    <!-- Directions form -->
    <form action="#" onsubmit="calcRoute(this.from.value, this.to.value); return false">
       From: <input type="text" size="20" id="fromAddress" name="from"
         value="San Francisco"/><br />
       To: <input type="text" size="20" id="toAddress" name="to"
         value="Mountain View" /><br />
        <input name="submit" type="submit" value="Get Directions!" />
    </form>
  </td>
  <td id="middle-column" class="middle-column">
    <div id="map_canvas" style="width: 100%; height: 400px"></div>
    <div id="directionsPanel" style="width: 100%; height:100%;"></div>
  </td>
  <td id="right-column" class="right-column">
    <p>&nbsp;</p>
    <a href="http://jgc.stanford.edu">Other resources</a> availabe from the John Gardner Center at Stanford University
  </td>
</tr></table>
<img src="/images/blank-dot.png" onload="checkTypeStatus();">
