<!DOCTYPE html>
<html>
<head>
  <title>JGC Youth Service Group Mapping</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAzr2EBOXUKnm_jVnk0OJI7xSosDVG8KKPE1-m51RBrvYughuyMxQ-i1QfUnH94QxWIa6N4U6MouMmBA" type="text/javascript"></script>
           
    <script type="text/javascript">

    /*function drawNearbyPrograms() {
      programs = new Array();
      index = 0;
      <% for program in @nearbyPrograms %>
        programs[index] = "<%=program.name%>" //full description of what is to be displayed on this marker
        index++;
      <% end %>
      index = 0;

      <%for program in @nearbyPrograms %>
        geocoder.getLocations("<%=program.address1%>", addToMap);
      <%end%>
    }*/

    </script>


</head>
<body onload="initialize()" onunload="GUnload()">
